body{
    background-color: lightslategray;
    background-image: url(backgroundGif.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p {
  font-size: 13px;
  width: 600px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

p.BTI{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 475px;
    background-color: #617cff;
}


img{
    height: 150;
    width: 200;
}

img:hover{
    height: 300;
    width: 400;
}